# Core Python libraries
numpy
pandas

# Visualization
matplotlib
seaborn


# Machine Learning
scikit-learn
shap
arch


# Deep Learning
tensorflow

# Jupyter Notebooks
jupyter

# Data fetching
yfinance

# Time series testing
statsmodels

# Sentiment analysis
textblob
vaderSentiment
nltk